<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
   
  <h4 class="card-header">Current Roles ({{roles.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody *ngIf="roles.length === 0">
        <tr>
          <td colspan="4">There are no roles in the DB. Add a new role below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let role of roles">
          <td>{{role.name}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(role)"><i class="fa fa-pencil"></i> Edit</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteRole(role)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editRole(role)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="role.name" placeholder="Name" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new Role</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addRoleForm" (ngSubmit)="addRole()" style="text-align:center">
      <div class="form-group">
        <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addRoleForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>